
        <section>
          <ul class="nav nav-tabs navcss" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" aria-selected="true">Immunization Alerts</a>
            </li>
            <li class="nav-item waves-effect waves-light" *ngFor="let link of links">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{link}}</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="row">
              <div class="col-8">
                <div class="table-responsive">
                  <div class="blue"><li class="blue">Immunization Alerts</li></div>

              <div class="find">
              <div class="findFlex">  
                <label>Find</label>
                <input class="form-control form-control-sm ml-3 w-75" [(ngModel)]="search" type="text" placeholder="Search" aria-label="Search">
              </div>

              <div class="delete">
                <button (click)="delete()" class="deleteButton">Delete</button>
              </div>
              </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>  </th>
                        <th class="th-lg">Name</th>
                        <th class="th-lg">Description</th>
                        <th class="th-lg">Web Reference</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of tableRecords  | filter:search  ; index as i">
                        <th >    
                          <input (change)="marked(i)" ng-model="checkbox" ng-true-value="1" ng-false-value="0" type="checkbox" class="form-check-input" id="materialUnchecked">  
                        </th>
                        <td>{{record.name}}</td>
                        <td>{{record.description}}</td>
                        <td>{{record.webReference}}</td>
                      </tr>
                    </tbody>              
                  </table>
                </div> 
                </div>
              <div class="col-4">
                <form #newUserForm1="ngForm" (ngSubmit)="onSubmit(newUserForm1)">
                  <div class="formStyle">
                  <div class="formDiv">
                  <label for="name"> Name</label>
                  <input type="text" placeholder="User name" required [(ngModel)]="name" name="name" #name2="ngModel">
                </div>
                <div *ngIf="!name2.valid && name2.touched">
                  Name is required!
               </div>
                <div class="formDiv">
                  <label for="description"> Description</label>
                  <input type="text" placeholder="description" required [(ngModel)]="description" name="description" #description2="ngModel">
                      </div>
                      <div *ngIf="!description2.valid && description2.touched">
                        Description is required!
                    </div>
                      <div class="formDiv">
                      <label for="webReference"> Web Reference</label>
                      <input type="text"  placeholder="Web" required [(ngModel)]="webReference" name="webReference" #webReference2="ngModel">     
              </div> 
              <div *ngIf="!webReference2.valid && webReference2.touched">
                Web Reference is required!
              </div> 
            </div>
         
                <button type="submit" [disabled]="!newUserForm1.form.valid"> Add</button> 
                </form>
                 </div>
            </div>
          </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">             
              <div class="blue"><li class="blue">Other Alerts</li></div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
          </div>
  
        </section>