.blue{
    color: #007BFF
}
.formDiv{
    display: flex;
justify-content: space-between;
}
.formStyle{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.find{
    margin: 10px;display: flex;
flex-direction: row;
justify-content: space-between;
}
.delete{
    display: flex;
align-items: center;
justify-content: center;
}
.deleteButton{
    height: 28px;
}
.findFlex{
    display: flex;
}
.navcss{
    display: flex;
    justify-content: flex-end;
}