.modal-dialog,
.modal-content {
    height: 95%;    
}

.modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto; }

    .header{
        background-color: #2475B0;
        color:whitesmoke
 }

.button{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.buttonDiv{
display: flex;
flex-direction: column;
justify-content: center;
}
.cross{
    color: whitesmoke;
}