
<div class="buttonDiv">
<button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Click Here To Open Window
</button>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header header" >
        <div>{{windowTitle}}</div>
        <button  type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="column">
      <div class="modal-body">
<app-table></app-table>
      </div>
     
    </div>
  </div>
</div>